@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  @apply bg-slate-800 text-gray-100;
}

.box {
  @apply w-12 h-12 rounded-md;
}

.signifiers {
  @apply mt-8;
}
.signifiers > div {
  @apply flex gap-6 items-center my-4;
}

.signifiers img {
  @apply h-12;
}
.right {
  @apply grid grid-cols-3;
}
.left {
  @apply grid grid-cols-4;
}
.middle {
  @apply grid grid-cols-4;
}

.field {
  @apply my-2;
}

.movie-card:hover img {
  @apply scale-125;
}
.movie-grad {
  background: linear-gradient(to bottom, transparent, #000000d1);
}

/* LOADER */
.loader {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: #000000 #000000 transparent transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after,
.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 2px solid;
  border-color: transparent transparent #101231 #05062d;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}
.loader::before {
  width: 14px;
  height: 14px;
  border-color: #fff #fff transparent transparent;
  animation: rotation 1.5s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

/* LOADER */
.loading {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: animloader 1s linear infinite;
}

@keyframes animloader {
  0% {
    box-shadow: -72px 0 #fff inset;
  }
  100% {
    box-shadow: 48px 0 #fff inset;
  }
}

.right {
  @apply grid gap-4 lg:grid-cols-3 grid-cols-[repeat(3,2rem)];
}
.left {
  @apply grid gap-4 lg:grid-cols-3  grid-cols-[repeat(3,2rem)];
}
.middle {
  @apply grid gap-4 lg:grid-cols-4  grid-cols-[repeat(4,2rem)];
}

.sign_input {
  animation: fadein linear 1;
}
.sign_input:nth-child(1) {
  animation-duration: 1.5s;
}
.sign_input:nth-child(2) {
  animation-duration: 2s;
}
.sign_input:nth-child(3) {
  animation-duration: 2.5s;
}
.sign_input:nth-child(4) {
  animation-duration: 3s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
